@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/avenir-next-regular-400.woff2') format('woff2'),
       url('/fonts/avenir-next-regular-400.woff') format('woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/avenir-next-medium-500.woff2') format('woff2'),
       url('/fonts/avenir-next-medium-500.woff') format('woff');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/fonts/nunito-sans-v6-latin-300.woff2') format('woff2'),
       url('/fonts/nunito-sans-v6-latin-300.woff') format('woff');
  font-display: swap;
  font-weight: 300;
}
