@import './settings.css';
@import './general-fonts.css';
@import './general-css-defaults.css';

html {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 100%;
  color: black;
  overflow-y: scroll;
}

hr {
  background-color:#E1E3DF;
  border: 0;
  height: 1px;
  width: 100%;
}

section.body + section.body {
  margin-top: 48px;
}

.body {
  font-size: 1.125rem;
  line-height: 1.6;
}

.body-small {
  font-size: 1rem;
}

.heading-large {
  margin-bottom: 36px;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 1px;
}

.heading-medium {
  margin-bottom: 24px;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.heading-small {
  margin-bottom: 12px;
  font-size: 1.3rem;
  font-weight: 400;
}

.content {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.center-content {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.center-content--smaller {
  max-width: 800px;
}

.center-content--wide {
  max-width: 1300px;
}

.center-content--large {
  max-width: 1200px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 24px 16px 24px;
  font-weight: 700;
  font-size: 1.125rem;
  text-decoration: none;
  letter-spacing: 0.7px;
  background-color: black;
  color: white;
  border: 2px solid black;
  transition: background-color 0.15s ease-out 0s;
}

.button:hover,
.button:focus,
.button:active {
  background-color: rgb(61, 63, 65);
  border: 2px solid rgb(61, 63, 65);
  outline: 0;
  color: white;
  cursor: pointer;
}

.flat-list {
  list-style: none;
}

.table-data {
  max-width: 400px;
}

.table-data--center {
  margin-left: auto;
  margin-right: auto;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
  overflow: hidden
}

/* Table styling */
.table-data__cell {
  padding: 12px;
  vertical-align: top;
}

.table-data--center .table-data__cell:first-child {
  text-align: right;
}

.table-data__cell:first-child {
  font-weight: 500;
}

.icon-border {
  width: 117.5px;
  height: 77.5px;
  stroke: rgb(171 171 171);
  stroke-width: 1;
  fill: rgb(255, 255, 255);
}

.icon-border--sofort {
  fill: #FA82A0;
}

/* Styling HTML tags for content */
.rich-text p {
  margin-bottom: 36px;
}

.rich-text a:not(.button) {
  color: #333;
  text-decoration: underline;
  font-weight: 600;
}

.rich-text strong,
.rich-text b,
.rich-text dt {
  font-weight: 700;
}

.rich-text h2 {
  margin-top: 60px;
}

.rich-text ul {
  list-style: square;
}

.rich-text ul,
.rich-text ol {
  margin-bottom: 36px;
  padding-left: 24px;
}

.rich-text ul p,
.rich-text ol p,
.rich-text li ul,
.rich-text li ol {
  margin-bottom: 24px;
}

.rich-text figure {
  border: 1px solid #666;
}

.rich-text li:not(:last-child) {
  margin-bottom: 24px;
}

@media (min-width: 500px) {
  .table-data--center .table-data__cell {
    width: 200px;
  }

  .button--order {
    max-width: 400px;
  }
}

@media (min-width: 900px) {
  .button--order {
    max-width: none;
    width: 100%;
  }
}
